
<div class="container d-flex justify-content-center">
  <div class="card p-3 py-4">
      <div class="text-center"> 
          <img src="{{ object.image.url }}" width="100" class="rounded-circle">
          <h3 class="mt-2">{{ object.name }}</h3>
          
          <div class="profile-details mt-3">
              <p class="mb-1"><strong>Bio:</strong> {{ object.bio }}</p>
              <p class="mb-1"><strong>City:</strong> {{ object.city }}</p>
              <p class="mb-1"><strong>Phone:</strong> {{ object.phone }}</p>
          </div>
      </div>
  </div>
</div>

